
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	
}

@font-face {
  font-family: SF Pro Display;
  src: url(/fonts/sf-pro-text-regular.ttf);
}

body{
	font-family: SF Pro Display;
	overflow-x: hidden;
}
